<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <h3>Guest View</h3>
        <form method="post" action="#" th:action="'/postSecret'" th:object="${pack}">
            <div class="form-row">
                <div class="col">
                    <input th:id="user" th:name="user" type="text" class="form-control" placeholder="customer"/>
                </div>
                <div class="col">
                    <input th:id="password" th:name="password" type="text" class="form-control" placeholder="password"/>
                </div>
                <div class="col">
                    <input th:id="payload" th:name="payload" type="text" class="form-control" placeholder="payload"/>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <a th:href="@{/guests}">Return to All Guests</a>
    </div>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/table.js}"></script>
</div>
</body>
</html>