<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Secret</h1>
            <form method="post" action="#" >
                <div class="form-row">
                    <div class="col">
                        <input th:id="payload" th:name="payload" type="text" class="form-control" placeholder="payload" th:value="${payload}"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>